</main>

<div id="successAlert" class="alert alert-success bottom-right p-1 px-2 d-flex align-items-center fade hide">
    This is a toast message.
</div>

<div id="dangerAlert" class="alert alert-danger bottom-right p-1 px-2 d-flex align-items-center fade hide">
    This is a toast message.
</div>

<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="row g-4 py-4">
            <div class="col-12 col-md-12 col-lg-5">
                <h6 class="mb-4">Categories</h6>
                <div class="row">
                    <div class="col-6">
                        <!-- list -->
                        <ul class="nav flex-column">
                            <!-- {% for cat in featured_cat %}
                            <li class="nav-item mb-2"><a href="#!" class="nav-link">{{cat.name}}</a></li>
                            {% endfor %} -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-5">
                <h6 class="mb-2">Payment Partners</h6>
                <div class="row">
                    <div class="col-6">
                        <!-- list -->
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <img src="/images/payment/amazonpay.svg" alt=""
                                    style="height: 50px;">
                            </li>
                            <li class="nav-item">
                                <img src="/images/payment/paytm.webp" alt=""
                                    style="height: 25px;">
                            </li>
                            <li class="nav-item">
                                <img src="/images/payment/mastercard.svg" alt=""
                                    style="height: 50px;">
                            </li>
                            <li class="nav-item">
                                <img src="/images/payment/paypal.svg" alt=""
                                    style="height: 50px;">
                            </li>
                            <li class="nav-item">
                                <img src="/images/payment/visa.svg" alt=""
                                    style="height: 50px;">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-2">
                <h6 class="mb-4">Get deliveries with FreshCart</h6>
                <div class="row">
                    <div class="col-6">
                        <!-- list -->
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">
                                <img src="/images/appbutton/appstore-btn.svg" alt=""
                                    style="width: 200px;">
                            </li>
                            <li class="nav-item mb-2">
                                <img src="/images/appbutton/googleplay-btn.svg" alt=""
                                    style="width: 200px;">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="border-top py-4">
            <div class="row align-items-center">
                <div class="col-md-6"><span class="small text-muted">© 2022 <span id="copyright"> -
                            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                        </span>FreshCart eCommerce HTML Template. All rights reserved. Powered by <a
                            href="https://codescandy.com/">Codescandy</a>.</span></div>
                <div class="col-md-6">
                    <ul class="list-inline text-md-end mb-0 small mt-3 mt-md-0">
                        <li class="list-inline-item text-muted">Follow us on</li>
                        <li class="list-inline-item me-1">
                            <a href="#!" class="btn btn-xs btn-social btn-icon"> <img class=""
                                    src="/images/icons/facebook.svg" alt=""
                                    style="width: 16px;"></a>
                        </li>
                        <li class="list-inline-item me-1">
                            <a href="#!" class="btn btn-xs btn-social btn-icon"> <img class=""
                                    src="/images/icons/twitter.svg" alt=""
                                    style="width: 16px;"></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!" class="btn btn-xs btn-social btn-icon"><img class=""
                                    src="/images/icons/instagram.svg" alt=""
                                    style="width: 16px;"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- Javascript-->

<!-- Libs JS -->
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/libs/simplebar/dist/simplebar.min.js"></script>

<!-- Theme JS -->
<script src="/js/theme.min.js"></script>
<script src="/libs/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="/js/vendors/countdown.js"></script>
<script src="/libs/slick-carousel/slick/slick.min.js"></script>
<script src="/js/vendors/slick-slider.js"></script>
<script src="/libs/tiny-slider/dist/min/tiny-slider.js"></script>
<script src="/js/vendors/tns-slider.js"></script>
<script src="/js/vendors/zoom.js"></script>
<script src="/js/vendors/increment-value.js"></script>

<!-- Custom JS -->
<script src="/js/custom.js"></script>

</body>

</html>